In [110]:
from functions import *
import numpy as np
import pandas as pd
from math import isnan

In [111]:
# Import Guradian data
guardian_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/Guardian/Guardian_University_Guide_2021.xlsx'
guardian = pd.read_excel(guardian_path, sheet_name='Institution', index_col='Name of Provider')
guardian.rename(columns={'rank2020':'Ranking'}, inplace=True)

In [112]:
# Import nss data
nss_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/NSS/NSS_taught_FT20_CAH.xlsx'
nss = pd.read_excel(nss_path, sheet_name='1')

In [113]:
# Sort and merge nss data to be useful
columns = ['Provider','Question Number', 'Subject', 'Actual value', 'Response']
nss = nss[columns]
nss.set_index('Provider', inplace=True)
nss.head()

,Question Number,Subject,Actual value,Response
Provider,,,,
University of Aberdeen,Q01,Medicine and dentistry,0.9900,100
University of Aberdeen,Q02,Medicine and dentistry,0.9600,100
University of Aberdeen,Q03,Medicine and dentistry,1.0000,101
University of Aberdeen,Scale03,Medicine and dentistry,0.7376,101
University of Aberdeen,Q27,Medicine and dentistry,0.9901,101

In [114]:
unis = nss.index.unique()
subs = {}
for uni in unis:
    subjects = list(nss.loc[uni,'Subject'].unique())
    subs[uni] = subjects

agg_func = {'Actual value':'mean', 'Response':'sum'}

grouped = nss.groupby(['Provider','Question Number']).agg(agg_func)
grouped.reset_index(inplace=True)
grouped["Question Number"] = grouped["Question Number"].replace("Q01", "Set 1").replace("Q02", "Set 1").replace("Q03", "Set 1").replace("Scale03", "Set 2").replace("Q27", "Set 3")
grouped.set_index(['Provider','Question Number'], inplace=True)

agg_func = {'Actual value':'mean', 'Response':'mean'}
grouped = grouped.groupby(['Provider','Question Number']).agg(agg_func)

nss_df = pd.DataFrame(round(grouped.xs('Set 1', level=1)['Actual value'], 3))
response = grouped.xs('Set 1', level=1)['Response']
grouped = grouped['Actual value']
nss_df['% Satisfied with Assessment'] = round(grouped.xs('Set 2', level=1), 3)
nss_df['% Satisfied with Course'] = round(grouped.xs('Set 3', level=1), 3)
nss_df.rename(columns={'Actual value':'% Satisfied with Teaching'}, inplace=True)
nss_df = nss_df * 100
nss_df['Response'] = round(response, 0)
nss_df['Subjects'] = nss_df.index.map(subs)
nss_df = nss_df.loc[nss_df['Response'] > 100]
columns = ['% Satisfied with Teaching','% Satisfied with Course','% Satisfied with Assessment', 'Subjects']

nss_df = nss_df[columns]
nss_df[:20]
nss_df.describe()
nss_df.head()

,% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment,Subjects
Provider,,,,
ACM Guildford Limited,73.7,60.3,54.9,"[Design, and creative and performing arts]"
ACM London Limited,58.4,36.6,60.2,"[Design, and creative and performing arts]"
Abertay University,92.3,90.0,82.9,"[Subjects allied to medicine, Biological and s..."
Aberystwyth University,90.0,88.7,81.7,"[Biological and sport sciences, Psychology, Ve..."
Anglia Ruskin University Higher Education Corporation,86.8,81.5,74.2,"[Subjects allied to medicine, Biological and s..."

In [145]:
# Continuation

cont_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA continuation.csv'
cont = pd.read_csv(cont_path, index_col='HE provider')['Percentage no longer in HE (%)']
cont.sort_index()
cont = pd.DataFrame(cont[:-5])
cont['Continuation %'] = 100 - cont['Percentage no longer in HE (%)']
final_df = pd.DataFrame(cont['Continuation %'])
final_df.head()

275
AA School of Architecture
The University of Aberdeen
Abertay University
Aberystwyth University
ACM Guildford Limited
Academy of Live and Recorded Arts
AECC University College
Amity Global Education
Anglia Ruskin University
Apex College London
Arden University
Arts Educational Schools
Hult International Business School Ltd
Aston University
Bangor University
Bath Spa University
The University of Bath
University of Bedfordshire
Queen's University Belfast
BIMM Limited
Birkbeck College
Birmingham City University
The University of Birmingham
University College Birmingham
Bristol Baptist College
Bishop Grosseteste University
Bloomsbury Institute
The University of Bolton
The Arts University Bournemouth
Bournemouth University
BPP University
The University of Bradford
The University of Brighton
The University College of Osteopathy
The University of Bristol
Brit College
Trinity College Bristol
Brunel University London
Buckinghamshire New University
The University of Buckingham
UK College of Business and Computing
London College of Business Studies
Cambridge Arts and Sciences Limited
The University of Cambridge
The Cambridge Theological Federation
The Institute of Cancer Research
Canterbury Christ Church University
Cardiff University
Cardiff Metropolitan University
The University of Central Lancashire
Central Film School London
University of Chester
The University of Chichester
Chicken Shed Theatre Company
The College of Integrated Chinese Medicine
Christie's Education Limited
Christ the Redeemer College
The City College
City, University of London
Cliff College
Conservatoire for Dance and Drama
Courtauld Institute of Art
Court Theatre Training Company Ltd
Coventry University
Cranfield University
University for the Creative Arts
University of Cumbria
De Montfort University
University of Derby
The University of Dundee
University of Durham
The University of East Anglia
The University of East London
The Queen's Foundation for Ecumenical Theological Education
Edge Hill University
Edinburgh Napier University
The University of Edinburgh
Empire College London Limited
The University of Essex
University College of Estate Management
ESCP Europe Business School
The University of Exeter
Falmouth University
Fairfield School of Business Ltd
Met Film School Limited
The National Film and Television School
ForMission Ltd
Futureworks
Global Banking School Limited
Glasgow Caledonian University
Glasgow School of Art
The University of Glasgow
University of Gloucestershire
Glyndŵr University
Goldsmiths College
Gower College Swansea
The University of Greenwich
Guildhall School of Music and Drama
Harper Adams University
Hartpury University
Heriot-Watt University
University of Hertfordshire
The University of Huddersfield
The University of Hull
ICON College of Technology and Management
Imperial College of Science, Technology and Medicine
London College of International Business Studies Ltd
Institute of Art - London Limited
The Institute of Ismaili Studies
Institute of Contemporary Music Performance
The Islamic College
Kaplan Open Learning
Keele University
Kensington College of Business
The University of Kent
King's College London
KLC School of Design
Kingston University
LAMDA Limited
The University of Lancaster
LCCM AU UK Limited
Leeds Arts University
Leeds Beckett University
Le Cordon Bleu Limited
Leeds Conservatoire
The University of Leeds
Leeds Trinity University
The University of Leicester
The University of Lincoln
Liverpool Hope University
Liverpool John Moores University
The Liverpool Institute for Performing Arts
The University of Liverpool
Liverpool School of Tropical Medicine
Grŵp Llandrillo Menai
University of the Arts, London
London Bridge Business Academy
London Business School
London Churchill College Ltd
University of London (Institutes and activities)
City and Guilds of London Art School
London School of Commerce & IT Limited
London Film School Limited
The London College UCK
London Metropolitan University
London School of Academics Ltd
London South Bank University
London School of Economics and Political Science
London School of Hygiene and Tropical Medicine
London School of Management Education
London School of Theology
London Studio Centre
The London School of Architecture
The London Institute of Banking & Finance
The Film Education Training Trust Limited
Loughborough University
Luther King House Educational Trust
The Manchester Metropolitan University
The University of Manchester
Istituto Marangoni Limited
The Markfield Institute of Higher Education
Matrix College of Counselling and Psychotherapy Ltd
Mattersey Hall
St Mellitus College
The Metanoia Institute
Middlesex University
Millennium Performing Arts Ltd
The Minster Centre
Mountview Academy of Theatre Arts
Mont Rose College of Management and Sciences
Moorlands College
All Nations Christian College
Nazarene Theological College
Nelson College London Ltd
Newbold College
Newcastle University
New College of the Humanities
Newman University
St Nicholas Montessori Training Limited
Norland College
The University of Northampton
Grŵp NPTC Group
Northern College of Acupuncture
University of Northumbria at Newcastle
Norwich University of the Arts
University of Nottingham
The Nottingham Trent University
Oak Hill College
The Open University in England
The Open University in Northern Ireland
The Open University in Scotland
The Open University in Wales
ICOM
Oxford Brookes University
Oxford Business College
The University of Oxford
St Patrick's International College
Pearson College
Plymouth College of Art
University of Plymouth
Point Blank Music School
The University of Portsmouth
The Prince's Foundation
Queen Margaret University, Edinburgh
Queen Mary University of London
University Centre Quayside Limited
Royal Academy of Dramatic Art
Royal Academy of Dance
Ravensbourne University London
Richmond, The American International University in London
The University of Reading
Regent's University London
Regents Theological College
Regent College
Robert Gordon University
Roehampton University
Rose Bruford College of Theatre and Performance
Royal Academy of Music
Royal Agricultural University
Royal College of Art
Royal College of Music
Royal Conservatoire of Scotland
The Royal Central School of Speech and Drama
Royal Holloway and Bedford New College
Royal Northern College of Music
The Royal Veterinary College
The University of St Andrews
SAE Education Limited
St George's, University of London
St Mary's University College
St Mary's University, Twickenham
The University of Salford
The Salvation Army
London School of Science and Technology Limited
SOAS University of London
SRUC
Sheffield Hallam University
The University of Sheffield
The Sherwood Psychotherapy Training Institute Limited
Solent University
The University of Southampton
Spurgeon's College
Staffordshire University
Study Group
The University of Stirling
University of St Mark and St John
Stranmillis University College
The University of Strathclyde
University of Suffolk
The University of Sunderland
The University of Surrey
The University of Sussex
Swansea University
Teesside University
Trinity Laban Conservatoire of Music and Dance
University of Wales Trinity Saint David
University Centre Peterborough
University of the Highlands and Islands
Ulster University
The University of Law
University College London
University of South Wales
The University of Warwick
Waverley Abbey College
University of the West of England, Bristol
The University of the West of Scotland
West Dean College
The University of West London
The University of Westminster
The University of Winchester
The University of Wolverhampton
University of Worcester
Writtle University College
York St John University
The University of York

KeyError: 'The Univesity of Oxford'

In [116]:
# Grad Salaries

salaries_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA salaries.csv'
salaries = pd.read_csv(salaries_path, index_col='Provider Name')
salaries.drop(axis=1, labels='UKPRN', inplace=True)
salaries.drop(axis=0, labels='Total', inplace=True)
salaries.replace(',','',regex=True,inplace=True)
salaries = salaries.astype(int)
salaries['Total Graduates'] = salaries.sum(axis=1)

to_salaries = [15000, 16500, 19500, 22500, 25500, 28500, 31500, 34500, 37500, 39000]
for index, col in enumerate(salaries.columns[:-1]):
    salaries[col] = salaries[col] * to_salaries[index]

salaries['Total'] = salaries.iloc[:,:-1].sum(axis=1)
salaries = salaries[['Total', 'Total Graduates']]
salaries = salaries.loc[salaries['Total Graduates'] > 50]
salaries['Average Salary'] = salaries['Total'] / salaries['Total Graduates']
salaries.dropna(axis=0, how='any', inplace=True)
final_df['Average Salary'] = salaries['Average Salary'].astype(int)
final_df[:20]

                                        Continuation %  Average Salary
HE provider
AA School of Architecture                          NaN             NaN
The University of Aberdeen                        95.6         28007.0
Abertay University                                87.9         25000.0
Aberystwyth University                            95.9         23466.0
ACM Guildford Limited                             83.6             NaN
Academy of Live and Recorded Arts                 90.5             NaN
AECC University College                           96.0             NaN
Amity Global Education                             NaN             NaN
Anglia Ruskin University                          89.7         26387.0
Apex College London                                NaN             NaN
Arden University                                  61.8             NaN
Arts Educational Schools                          98.5             NaN
Hult International Business School Ltd             NaN             NaN
Aston University                                  96.3         26802.0
Bangor University                                 93.5         23318.0
Bath Spa University                               92.7         22584.0
The University of Bath                            98.1         29933.0
University of Bedfordshire                        79.1         24728.0
Queen's University Belfast                        95.7         24357.0
BIMM Limited                                      86.2         21576.0

In [117]:
# Expenditure Academic Services

student_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/hesa-student-2021.csv'
student = pd.read_csv(student_path, index_col='HE provider')
AS17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Academic Services 17.csv'
AS17 = pd.read_csv(AS17_path, index_col='HE Provider')
AS18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Academic Services 18.csv'
AS18 = pd.read_csv(AS18_path, index_col='HE Provider')
AS17 = AS17.replace(',', '', regex=True).dropna(axis=1).astype(int)
AS18 = AS18.replace(',', '', regex=True).dropna(axis=1).astype(int)
AS_total = pd.concat((AS17, AS18))
AS_total = AS_total.groupby(AS_total.index).mean()
AS_total.sort_values(by='HE Provider', inplace=True)
AS_total['Students'] = student['Total'].replace(',','',regex=True).astype(int)
AS_total.dropna(axis=0, how='any', subset=['Students'], inplace=True)
AS_total = AS_total.loc[AS_total['Students'] > 500]
AS_exp_per_student = (AS_total['Total expenditure'] / AS_total['Students']) * 1000
AS_exp_per_student = AS_exp_per_student.loc[AS_exp_per_student!=0]
final_df['Academic Services Expenditure per Student'] = AS_exp_per_student.astype(int)
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student
HE provider,,,
AA School of Architecture,NaN,NaN,NaN
The University of Aberdeen,95.6,28007.0,1507.0
Abertay University,87.9,25000.0,1002.0
Aberystwyth University,95.9,23466.0,1735.0
ACM Guildford Limited,83.6,NaN,NaN

In [144]:
# Expenditure Facilities

AC17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Services 17.csv'
AC17 = pd.read_csv(AC17_path, index_col='HE Provider')
AC18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Services 18.csv'
AC18 = pd.read_csv(AC18_path, index_col='HE Provider')
prem17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Premises 17.csv'
prem17 = pd.read_csv(prem17_path, index_col='HE Provider')
prem18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Premises 18.csv'
prem18 = pd.read_csv(prem18_path, index_col='HE Provider')
AC17 = AC17.replace(',', '', regex=True).dropna(axis=1).astype(int)
AC18 = AC18.replace(',', '', regex=True).dropna(axis=1).astype(int)
AC_total = pd.concat((AC17, AC18))
AC_total = AC_total.groupby(AC_total.index).mean()
AC_total.sort_values(by='HE Provider', inplace=True)

prem17 = prem17.replace(',', '', regex=True).dropna(axis=1).astype(int)
prem18 = prem18.replace(',', '', regex=True).dropna(axis=1).astype(int)
prem_total = pd.concat((AC17, AC18))
prem_total = prem_total.groupby(prem_total.index).mean()

facilities = pd.concat((AC_total['Total expenditure'],prem_total['Total expenditure'], student['Total']),axis=1)
facilities.columns = ['AC_exp', 'prem_exp', 'Students']
facilities = facilities.replace(',','',regex=True).dropna(axis=0,how='any').astype(int)
facilities['Expenditure per Student'] = ((facilities['AC_exp'] + facilities['prem_exp']) / facilities['Students']) * 1000
facilities = facilities.loc[facilities['Expenditure per Student']!=0]
facilities = facilities.loc[facilities['Students'] > 500]
final_df['Facilities Expenditure per Student'] = facilities['Expenditure per Student'].astype(int)
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment
HE provider,,,,,,,,,,
The University of Aberdeen,95.6,28007.0,1507.0,1651,13.1,39.7,13.270,88.2,86.9,70.8
Abertay University,87.9,25000.0,1002.0,2664,21.4,36.5,20.835,92.3,90.0,82.9
Aberystwyth University,95.9,23466.0,1735.0,1423,15.0,29.0,19.085,90.0,88.7,81.7
Anglia Ruskin University,89.7,26387.0,778.0,1594,35.9,48.8,15.100,86.8,81.5,74.2
Aston University,96.3,26802.0,1177.0,1598,18.2,56.0,14.465,83.3,83.6,69.9

In [142]:
# Student Staff Ratio (all academic staff)

staff_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Staff.csv'
staff = pd.read_csv(staff_path, index_col = 'HE Provider')
staff['Students'] = student['Total']
columns = ['Total academic staff (excluding atypical)', 'Students']
staff = staff[columns]
staff.replace(',', '', regex=True, inplace=True)
staff.dropna(axis=0, how='any', inplace=True)
staff = staff.astype(int)
staff['Student/Staff Ratio'] = round(staff['Students'] / staff['Total academic staff (excluding atypical)'], 1)
staff = staff.loc[staff['Total academic staff (excluding atypical)'] > 100]
staff = staff.loc[staff['Students'] > 500]
final_df['Student/Staff Ratio'] = staff['Student/Staff Ratio']
final_df.head()

112
The University of Aberdeen
Abertay University
Aberystwyth University
Anglia Ruskin University
Aston University
Bangor University
Bath Spa University
The University of Bath
University of Bedfordshire
Queen's University Belfast
Birkbeck College
Birmingham City University
The University of Birmingham
Bishop Grosseteste University
The University of Bolton
Bournemouth University
The University of Bradford
The University of Brighton
The University of Bristol
Brunel University London
Buckinghamshire New University
The University of Buckingham
Canterbury Christ Church University
Cardiff University
Cardiff Metropolitan University
The University of Central Lancashire
University of Chester
The University of Chichester
City, University of London
Coventry University
University of Cumbria
De Montfort University
University of Derby
The University of Dundee
University of Durham
The University of East Anglia
The University of East London
Edge Hill University
Edinburgh Napier University
The University of Edinburgh
The University of Essex
The University of Exeter
Glasgow Caledonian University
The University of Glasgow
University of Gloucestershire
The University of Greenwich
Heriot-Watt University
University of Hertfordshire
The University of Huddersfield
The University of Hull
Imperial College of Science, Technology and Medicine
The University of Kent
King's College London
Kingston University
The University of Lancaster
Leeds Beckett University
The University of Leeds
Leeds Trinity University
The University of Leicester
The University of Lincoln
Liverpool Hope University
Liverpool John Moores University
The University of Liverpool
London Metropolitan University
London South Bank University
Loughborough University
The Manchester Metropolitan University
The University of Manchester
Middlesex University
Newman University
The University of Northampton
University of Northumbria at Newcastle
University of Nottingham
The Nottingham Trent University
Oxford Brookes University
University of Plymouth
The University of Portsmouth
Queen Mary University of London
The University of Reading
Robert Gordon University
Roehampton University
Royal Holloway and Bedford New College
The University of St Andrews
St Mary's University, Twickenham
The University of Salford
Sheffield Hallam University
The University of Sheffield
Solent University
The University of Southampton
Staffordshire University
The University of Stirling
The University of Strathclyde
University of Suffolk
The University of Sunderland
The University of Surrey
The University of Sussex
Swansea University
Teesside University
University of Wales Trinity Saint David
University of the Highlands and Islands
University College London
University of South Wales
The University of Warwick
University of the West of England, Bristol
The University of the West of Scotland
The University of West London
The University of Westminster
The University of Winchester
The University of Wolverhampton
University of Worcester
York St John University
The University of York

KeyError: 'The Univesity of Cambridge'

In [138]:
# Outcomes

outcomes_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Outcomes.csv'
detailed_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Outcomes Detailed.csv'
outcomes = pd.read_csv(outcomes_path, index_col='Provider Name')
detailed = pd.read_csv(detailed_path, index_col='Provider Name')

detailed['Total'] = outcomes['Total with known outcomes']

outcomes = detailed[['Total high skilled', 'Total']]
outcomes = outcomes.replace(',', '', regex=True)
outcomes = outcomes.astype(int)
outcomes['% in High Skilled Work'] = round(outcomes['Total high skilled'] / outcomes['Total'] * 100, 1)
outcomes = outcomes.loc[outcomes['Total'] > 50]
final_df['% Graduates in High Skilled Work'] = outcomes['% in High Skilled Work']
final_df.head()

KeyError: 'University of Oxford'

In [121]:
# Add acceptance rate averaged over 2 years
acceptances = pd.read_csv('Data/UCAS/EOC_acceptances.csv')
applications = pd.read_csv('Data/UCAS/EOC_applications_main.csv')
applications.set_index(['Provider', 'Year'], inplace=True)
acceptances.set_index(['Provider', 'Year'], inplace=True)
applications['Accepted'] = acceptances['Accepted applicants through the main scheme']
applications.dropna(how='any', axis=0, inplace=True)
applications['Percentage Accepted'] = round((applications['Accepted'] / applications['Main scheme applications']) * 100, 2)
applications = applications.loc[applications['Main scheme applications'] >= 100]
applications.reset_index(inplace=True)
applications = applications.pivot_table(index='Provider', columns='Year', values='Percentage Accepted')
applications = applications[[2018, 2019]]
applications['Acceptance Rate'] = applications.mean(axis=1)
applications.reset_index(inplace=True)

for i in range(len(applications['Provider'])):
    applications.loc[i, 'Provider'] = applications.loc[i, 'Provider'][4:]
applications.set_index('Provider', inplace=True)

try:
    from index_conversions import applications_to_hesa
    applications_to_hesa = applications_to_hesa
except:
    applications_to_hesa = copy_index(final_df, applications)

applications = pd.DataFrame(applications).rename(index=applications_to_hesa)
final_df['Applications to Acceptance (%)'] = applications['Acceptance Rate']
final_df

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%)
HE provider,,,,,,,
AA School of Architecture,NaN,NaN,NaN,NaN,NaN,66.7,NaN
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7,13.270
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5,20.835
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0,19.085
ACM Guildford Limited,83.6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
The University of Wolverhampton,88.7,25159.0,1368.0,1676.0,21.1,40.7,18.125
University of Worcester,92.5,24032.0,818.0,2365.0,22.1,46.4,21.560
Writtle University College,90.5,NaN,1177.0,12933.0,NaN,31.0,27.755
York St John University,92.0,23215.0,1293.0,1147.0,20.6,39.3,18.630
The University of York,96.9,26616.0,1094.0,2999.0,NaN,44.5,14.760

In [134]:
# Add NSS data

try:
    from index_conversions import guardian_to_hesa
except:
    guardian_to_hesa = copy_index(final_df, nss_df)

nss_df = nss_df.rename(index=guardian_to_hesa )
columns = ['% Satisfied with Teaching', '% Satisfied with Course', '% Satisfied with Assessment', 'Subjects']
final_df[columns] = nss_df
final_df

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment,Subjects
HE provider,,,,,,,,,,,
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7,13.270,88.2,86.9,70.8,"[Medicine and dentistry, Subjects allied to me..."
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5,20.835,92.3,90.0,82.9,"[Subjects allied to medicine, Biological and s..."
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0,19.085,90.0,88.7,81.7,"[Biological and sport sciences, Psychology, Ve..."
Anglia Ruskin University,89.7,26387.0,778.0,1594.0,35.9,48.8,15.100,86.8,81.5,74.2,"[Subjects allied to medicine, Biological and s..."
Aston University,96.3,26802.0,1177.0,1598.0,18.2,56.0,14.465,83.3,83.6,69.9,"[Subjects allied to medicine, Biological and s..."
...,...,...,...,...,...,...,...,...,...,...,...
The University of Winchester,93.4,24286.0,1132.0,2081.0,18.2,38.7,24.670,84.9,79.2,74.2,"[Biological and sport sciences, Psychology, So..."
The University of Wolverhampton,88.7,25159.0,1368.0,1676.0,21.1,40.7,18.125,83.8,82.6,74.1,"[Subjects allied to medicine, Biological and s..."
University of Worcester,92.5,24032.0,818.0,2365.0,22.1,46.4,21.560,88.6,86.6,80.2,"[Subjects allied to medicine, Biological and s..."
York St John University,92.0,23215.0,1293.0,1147.0,20.6,39.3,18.630,89.2,86.0,81.4,"[Subjects allied to medicine, Biological and s..."
The University of York,96.9,26616.0,1094.0,2999.0,NaN,44.5,14.760,88.9,86.0,71.5,"[Subjects allied to medicine, Biological and s..."

In [135]:
# Remove Unis with more than x nan values and with less than 4 subjects offered and save to a csv file
print(len(final_df))
x = 4
final_df.dropna(thresh=final_df.shape[1]-x, axis=0, inplace=True)
final_df['Subjects'] = final_df['Subjects'].fillna("").apply(list)
final_df.to_csv('league_table.csv')
final_df = final_df.loc[(final_df.Subjects.map(len) > 7)]
final_df.drop(axis=1, columns='Subjects', inplace=True)
final_df[:30]

112

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment
HE provider,,,,,,,,,,
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7,13.270,88.2,86.9,70.8
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5,20.835,92.3,90.0,82.9
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0,19.085,90.0,88.7,81.7
Anglia Ruskin University,89.7,26387.0,778.0,1594.0,35.9,48.8,15.100,86.8,81.5,74.2
Aston University,96.3,26802.0,1177.0,1598.0,18.2,56.0,14.465,83.3,83.6,69.9
Bangor University,93.5,23318.0,1116.0,1845.0,13.3,31.8,23.530,86.4,86.4,76.4
Bath Spa University,92.7,22584.0,1313.0,1985.0,22.5,36.5,17.725,82.1,79.0,69.3
The University of Bath,98.1,29933.0,1542.0,1906.0,14.3,58.2,12.940,89.6,88.9,67.9
University of Bedfordshire,79.1,24728.0,874.0,1273.0,34.8,42.7,13.535,79.6,73.3,69.9
Queen's University Belfast,95.7,24357.0,1166.0,1934.0,13.0,48.5,14.480,83.7,77.5,64.6
Birkbeck College,89.1,30900.0,905.0,2659.0,19.5,32.1,NaN,84.7,78.5,70.7
Birmingham City University,90.8,24315.0,1187.0,1017.0,NaN,46.1,14.645,85.6,82.0,76.0
The University of Birmingham,97.6,27789.0,2133.0,2039.0,NaN,52.9,11.900,86.0,83.5,64.8
Bishop Grosseteste University,90.5,22818.0,1302.0,3911.0,21.7,47.7,39.020,85.4,85.0,79.9
The University of Bolton,85.3,25159.0,964.0,1172.0,NaN,35.7,20.840,89.6,85.0,81.1
Bournemouth University,91.8,25764.0,1371.0,1401.0,22.4,57.8,19.280,86.2,82.2,74.8
The University of Bradford,92.3,24984.0,1245.0,3238.0,20.4,40.3,15.160,76.5,71.5,66.5
The University of Brighton,91.0,26438.0,1265.0,1616.0,19.1,52.1,13.330,84.3,77.5,68.4
The University of Bristol,97.8,28964.0,1512.0,3288.0,8.9,49.4,11.960,86.8,81.2,65.2
Brunel University London,93.5,27322.0,1099.0,3955.0,16.9,45.7,10.980,77.1,75.1,64.9
Buckinghamshire New University,85.4,26833.0,566.0,1509.0,NaN,51.7,24.720,87.5,86.3,78.5
The University of Buckingham,94.3,NaN,827.0,2167.0,NaN,23.3,11.925,88.6,89.4,73.8
Canterbury Christ Church University,88.8,25130.0,1143.0,2203.0,21.3,51.2,25.240,84.9,78.6,75.1
Cardiff University,96.6,26378.0,1459.0,1802.0,11.4,53.3,16.285,84.1,79.1,68.2
Cardiff Metropolitan University,89.4,23746.0,1458.0,1052.0,20.8,40.8,23.875,86.5,84.0,76.0
The University of Central Lancashire,87.9,24788.0,1505.0,1734.0,17.1,44.5,19.285,83.1,80.8,76.4
University of Chester,90.8,24261.0,1565.0,1561.0,22.6,41.1,14.185,85.9,87.4,77.1
The University of Chichester,92.4,22937.0,905.0,1608.0,NaN,44.1,20.525,88.0,85.7,78.1
"City, University of London",92.3,27333.0,1474.0,2456.0,20.6,45.9,10.945,75.5,70.0,63.7
Coventry University,92.3,25604.0,1525.0,1220.0,16.7,45.0,17.030,87.4,82.9,75.7

In [124]:
# Convert to s-score table

s_score_df = final_df.copy()

for col in final_df.columns:
    x = s_score(final_df,col)
    s_score_df[col] = x

s_score_df['Student/Staff Ratio'] = - s_score_df['Student/Staff Ratio']
nonans = s_score_df.copy()
for ind in s_score_df.index:
    nonans.loc[ind] = s_score_df.loc[ind].fillna(value=s_score_df.loc[ind].mean())

In [125]:
# Weights

weights = []

# Uncomment to have interactive weights settings
for col in final_df.columns:
    while True:
        try:
            x = float(input(f'Weight for {col} (out of 10): '))
            if x > 10 or x < 0:
                raise Exception
            weights.append(x)
            break
        except ValueError:
            print('Enter a number between 0 and 10, no letters!')
        except Exception:
            print('Enter a number between 0 and 10!')

weights = [weight / sum(weights) for weight in weights]
print(weights)

Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
Enter a number between 0 and 10, no letters!
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [126]:
weighted = nonans.copy()
for i, col in enumerate(nonans.columns):
    weighted[col] = nonans[col] * weights[i]

weighted['Score'] = weighted[list(weighted.columns)].sum(axis=1)
weighted.sort_values(by='Score', ascending=False, inplace=True)
weighted['Rank'] = [x for x in range(1, len(weighted)+1)]
weighted[:30]

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment,Score,Rank
HE provider,,,,,,,,,,,,
"Imperial College of Science, Technology and Medicine",0.133772,0.364816,0.338172,0.302562,0.190631,0.068948,0.104857,-0.067558,-0.098086,-0.289545,1.048570,1
The University of St Andrews,0.126131,0.092644,0.299721,-0.024999,0.129459,-0.145138,-0.165165,0.259824,0.240160,0.132290,0.944927,2
University of Durham,0.133772,0.111736,0.173882,0.059102,0.096738,0.053755,0.077438,0.019298,0.080841,-0.032187,0.774376,3
University College London,0.110848,0.271819,0.173416,0.272143,0.177828,0.067567,-0.116821,-0.047515,-0.022103,-0.113458,0.773724,4
The University of Bath,0.146508,0.205782,0.038721,-0.012368,0.056905,0.194637,-0.081634,0.129539,0.142117,-0.096043,0.724166,5
Loughborough University,0.128678,0.117401,0.055034,-0.098995,0.078244,0.193256,-0.095199,0.082770,0.154373,0.049084,0.664647,6
Bishop Grosseteste University,-0.047077,-0.167411,-0.017207,0.198673,-0.048369,0.049611,0.450357,-0.010768,0.046526,0.136160,0.590495,7
The University of Southampton,0.133772,0.066995,0.133101,0.002789,0.129459,0.121433,-0.135995,0.042683,0.068586,-0.028317,0.534506,8
The University of Lancaster,0.100659,0.025716,0.167357,-0.017525,0.106697,-0.019449,0.051809,0.072748,0.102900,-0.072822,0.518090,9
University of Plymouth,0.011508,-0.032401,0.069482,-0.022367,0.004268,0.097953,0.069927,0.106155,0.053879,0.103264,0.461668,10
The University of East Anglia,0.059904,0.006466,0.056898,0.103521,0.091048,0.026131,0.046087,0.012617,0.071037,-0.012837,0.460872,11
The University of Manchester,0.103206,0.055456,0.235170,0.137835,0.136572,0.044086,-0.119167,-0.000746,-0.027005,-0.107653,0.457755,12
The University of Exeter,0.136320,0.074653,-0.016275,0.127098,0.101006,0.001269,-0.021254,0.062726,0.053879,-0.078628,0.440795,13
University of Nottingham,0.105753,0.099043,0.078804,0.103731,0.044071,0.133864,-0.073474,0.042683,-0.007397,-0.086368,0.440710,14
The University of Warwick,0.123584,0.219524,0.014486,0.022788,0.110965,0.060661,-0.096116,0.009276,0.019565,-0.049602,0.435130,15
The University of Sheffield,0.126131,0.062065,0.057131,-0.033840,0.133727,0.027512,-0.109681,0.082770,0.088194,-0.018642,0.415366,16
The University of Bristol,0.138867,0.154956,0.031730,0.133098,0.133727,0.073091,-0.101624,0.036001,-0.046614,-0.148288,0.404945,17
The University of Leeds,0.118489,0.038199,0.229578,0.028788,0.109542,0.099334,-0.111313,-0.000746,-0.024554,-0.094108,0.393209,18
The University of Dundee,0.057357,0.047693,0.047577,-0.008368,0.083935,0.131102,-0.102848,0.062726,0.095547,-0.026382,0.388339,19
Royal Holloway and Bedford New College,0.067546,-0.004811,0.089523,0.034051,0.064018,-0.131326,0.034500,0.092792,0.097998,0.000708,0.345000,20
Swansea University,0.064999,-0.016298,0.000737,0.036682,0.076822,-0.004256,0.033311,0.036001,0.093096,0.018124,0.339218,21
The University of York,0.115942,0.031800,-0.065679,0.102679,0.032940,0.005413,-0.044509,0.106155,0.071037,-0.026382,0.329396,22
Abertay University,-0.113304,-0.052962,-0.087118,0.067417,-0.044101,-0.105083,0.079412,0.219737,0.169079,0.194210,0.327287,23
The University of Birmingham,0.133772,0.093326,0.176445,0.001631,0.031863,0.121433,-0.102848,0.009276,0.009760,-0.156028,0.318632,24
The University of Leicester,0.115942,0.056557,0.147316,0.101837,0.106697,-0.037404,-0.106928,-0.017449,0.019565,-0.068952,0.317180,25
Aberystwyth University,0.090470,-0.133423,0.083697,-0.063207,0.046947,-0.208673,0.043715,0.142902,0.137215,0.170990,0.310633,26
The University of Glasgow,0.090470,0.091280,0.072045,-0.107205,0.119500,0.055136,-0.071026,0.102814,0.083292,-0.146353,0.289954,27
"University of the West of England, Bristol",0.003866,-0.018921,-0.096439,-0.053629,-0.019917,0.117290,0.026689,0.102814,0.134764,0.070369,0.266887,28
The University of Hull,0.011508,-0.058102,0.080202,-0.026683,0.028452,-0.031880,0.047692,0.082770,0.068586,0.051019,0.253565,29
The University of Aberdeen,0.082829,0.104760,0.030565,-0.039208,0.073976,-0.060885,-0.074902,0.082770,0.093096,-0.039927,0.253075,30

#