In [1]:
from functions import *
import numpy as np
import pandas as pd
from math import isnan
import matplotlib

In [2]:
# Import Guradian data
guardian_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/Guardian/Guardian_University_Guide_2021.xlsx'
guardian = pd.read_excel(guardian_path, sheet_name='Institution', index_col='Name of Provider')
guardian.rename(columns={'rank2020':'Ranking'}, inplace=True)

In [3]:
# Import nss data
nss_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/NSS/NSS_taught_FT20_CAH.xlsx'
nss = pd.read_excel(nss_path, sheet_name='1')

In [4]:
# Sort and merge nss data to be useful
columns = ['Provider','Question Number', 'Subject', 'Actual value', 'Response']
nss = nss[columns]
nss.set_index('Provider', inplace=True)
nss.head()

,Question Number,Subject,Actual value,Response
Provider,,,,
University of Aberdeen,Q01,Medicine and dentistry,0.9900,100
University of Aberdeen,Q02,Medicine and dentistry,0.9600,100
University of Aberdeen,Q03,Medicine and dentistry,1.0000,101
University of Aberdeen,Scale03,Medicine and dentistry,0.7376,101
University of Aberdeen,Q27,Medicine and dentistry,0.9901,101

In [5]:
unis = nss.index.unique()
subs = {}
for uni in unis:
    subjects = list(nss.loc[uni,'Subject'].unique())
    subs[uni] = subjects

agg_func = {'Actual value':'mean', 'Response':'sum'}

grouped = nss.groupby(['Provider','Question Number']).agg(agg_func)
grouped.reset_index(inplace=True)
grouped["Question Number"] = grouped["Question Number"].replace("Q01", "Set 1").replace("Q02", "Set 1").replace("Q03", "Set 1").replace("Scale03", "Set 2").replace("Q27", "Set 3")
grouped.set_index(['Provider','Question Number'], inplace=True)

agg_func = {'Actual value':'mean', 'Response':'mean'}
grouped = grouped.groupby(['Provider','Question Number']).agg(agg_func)

nss_df = pd.DataFrame(round(grouped.xs('Set 1', level=1)['Actual value'], 3))
response = grouped.xs('Set 1', level=1)['Response']
grouped = grouped['Actual value']
nss_df['% Satisfied with Assessment'] = round(grouped.xs('Set 2', level=1), 3)
nss_df['% Satisfied with Course'] = round(grouped.xs('Set 3', level=1), 3)
nss_df.rename(columns={'Actual value':'% Satisfied with Teaching'}, inplace=True)
nss_df = nss_df * 100
nss_df['Response'] = round(response, 0)
nss_df['Subjects'] = nss_df.index.map(subs)
nss_df = nss_df.loc[nss_df['Response'] > 100]
columns = ['% Satisfied with Teaching','% Satisfied with Course','% Satisfied with Assessment', 'Subjects']

nss_df = nss_df[columns]
nss_df[:20]
nss_df.describe()
nss_df.head()

,% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment,Subjects
Provider,,,,
ACM Guildford Limited,73.7,60.3,54.9,"[Design, and creative and performing arts]"
ACM London Limited,58.4,36.6,60.2,"[Design, and creative and performing arts]"
Abertay University,92.3,90.0,82.9,"[Subjects allied to medicine, Biological and s..."
Aberystwyth University,90.0,88.7,81.7,"[Biological and sport sciences, Psychology, Ve..."
Anglia Ruskin University Higher Education Corporation,86.8,81.5,74.2,"[Subjects allied to medicine, Biological and s..."

In [6]:
# Continuation

cont_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA continuation.csv'
cont = pd.read_csv(cont_path, index_col='HE provider')['Percentage no longer in HE (%)']
cont.sort_index()
cont = pd.DataFrame(cont[:-5])
cont['Continuation %'] = 100 - cont['Percentage no longer in HE (%)']
final_df = pd.DataFrame(cont['Continuation %'])
final_df.head()

                            Continuation %
HE provider
AA School of Architecture              NaN
The University of Aberdeen            95.6
Abertay University                    87.9
Aberystwyth University                95.9
ACM Guildford Limited                 83.6

In [7]:
# Grad Salaries

salaries_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA salaries.csv'
salaries = pd.read_csv(salaries_path, index_col='Provider Name')
salaries.drop(axis=1, labels='UKPRN', inplace=True)
salaries.drop(axis=0, labels='Total', inplace=True)
salaries.replace(',','',regex=True,inplace=True)
salaries = salaries.astype(int)
salaries['Total Graduates'] = salaries.sum(axis=1)

to_salaries = [15000, 16500, 19500, 22500, 25500, 28500, 31500, 34500, 37500, 39000]
for index, col in enumerate(salaries.columns[:-1]):
    salaries[col] = salaries[col] * to_salaries[index]

salaries['Total'] = salaries.iloc[:,:-1].sum(axis=1)
salaries = salaries[['Total', 'Total Graduates']]
salaries = salaries.loc[salaries['Total Graduates'] > 50]
salaries['Average Salary'] = salaries['Total'] / salaries['Total Graduates']
salaries.dropna(axis=0, how='any', inplace=True)
final_df['Average Salary'] = salaries['Average Salary'].astype(int)
final_df[:20]

                                        Continuation %  Average Salary
HE provider
AA School of Architecture                          NaN             NaN
The University of Aberdeen                        95.6         28007.0
Abertay University                                87.9         25000.0
Aberystwyth University                            95.9         23466.0
ACM Guildford Limited                             83.6             NaN
Academy of Live and Recorded Arts                 90.5             NaN
AECC University College                           96.0             NaN
Amity Global Education                             NaN             NaN
Anglia Ruskin University                          89.7         26387.0
Apex College London                                NaN             NaN
Arden University                                  61.8             NaN
Arts Educational Schools                          98.5             NaN
Hult International Business School Ltd             NaN             NaN
Aston University                                  96.3         26802.0
Bangor University                                 93.5         23318.0
Bath Spa University                               92.7         22584.0
The University of Bath                            98.1         29933.0
University of Bedfordshire                        79.1         24728.0
Queen's University Belfast                        95.7         24357.0
BIMM Limited                                      86.2         21576.0

In [8]:
# Expenditure Academic Services

student_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/hesa-student-2021.csv'
student = pd.read_csv(student_path, index_col='HE provider')
AS17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Academic Services 17.csv'
AS17 = pd.read_csv(AS17_path, index_col='HE Provider')
AS18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Academic Services 18.csv'
AS18 = pd.read_csv(AS18_path, index_col='HE Provider')
AS17 = AS17.replace(',', '', regex=True).dropna(axis=1).astype(int)
AS18 = AS18.replace(',', '', regex=True).dropna(axis=1).astype(int)
AS_total = pd.concat((AS17, AS18))
AS_total = AS_total.groupby(AS_total.index).mean()
AS_total.sort_values(by='HE Provider', inplace=True)
AS_total['Students'] = student['Total'].replace(',','',regex=True).astype(int)
AS_total.dropna(axis=0, how='any', subset=['Students'], inplace=True)
AS_total = AS_total.loc[AS_total['Students'] > 500]
AS_exp_per_student = (AS_total['Total expenditure'] / AS_total['Students']) * 1000
AS_exp_per_student = AS_exp_per_student.loc[AS_exp_per_student!=0]
final_df['Academic Services Expenditure per Student'] = AS_exp_per_student.astype(int)
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student
HE provider,,,
AA School of Architecture,NaN,NaN,NaN
The University of Aberdeen,95.6,28007.0,1507.0
Abertay University,87.9,25000.0,1002.0
Aberystwyth University,95.9,23466.0,1735.0
ACM Guildford Limited,83.6,NaN,NaN

In [9]:
# Expenditure Facilities

AC17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Services 17.csv'
AC17 = pd.read_csv(AC17_path, index_col='HE Provider')
AC18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Services 18.csv'
AC18 = pd.read_csv(AC18_path, index_col='HE Provider')
prem17_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Premises 17.csv'
prem17 = pd.read_csv(prem17_path, index_col='HE Provider')
prem18_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Premises 18.csv'
prem18 = pd.read_csv(prem18_path, index_col='HE Provider')
AC17 = AC17.replace(',', '', regex=True).dropna(axis=1).astype(int)
AC18 = AC18.replace(',', '', regex=True).dropna(axis=1).astype(int)
AC_total = pd.concat((AC17, AC18))
AC_total = AC_total.groupby(AC_total.index).mean()
AC_total.sort_values(by='HE Provider', inplace=True)

prem17 = prem17.replace(',', '', regex=True).dropna(axis=1).astype(int)
prem18 = prem18.replace(',', '', regex=True).dropna(axis=1).astype(int)
prem_total = pd.concat((AC17, AC18))
prem_total = prem_total.groupby(prem_total.index).mean()

facilities = pd.concat((AC_total['Total expenditure'],prem_total['Total expenditure'], student['Total']),axis=1)
facilities.columns = ['AC_exp', 'prem_exp', 'Students']
facilities = facilities.replace(',','',regex=True).dropna(axis=0,how='any').astype(int)
facilities['Expenditure per Student'] = ((facilities['AC_exp'] + facilities['prem_exp']) / facilities['Students']) * 1000
facilities = facilities.loc[facilities['Expenditure per Student']!=0]
facilities = facilities.loc[facilities['Students'] > 500]
final_df['Facilities Expenditure per Student'] = facilities['Expenditure per Student'].astype(int)
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student
HE provider,,,,
AA School of Architecture,NaN,NaN,NaN,NaN
The University of Aberdeen,95.6,28007.0,1507.0,1651.0
Abertay University,87.9,25000.0,1002.0,2664.0
Aberystwyth University,95.9,23466.0,1735.0,1423.0
ACM Guildford Limited,83.6,NaN,NaN,NaN

In [10]:
# Student Staff Ratio (all academic staff)

staff_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Staff.csv'
staff = pd.read_csv(staff_path, index_col = 'HE Provider')
staff['Students'] = student['Total']
columns = ['Total academic staff (excluding atypical)', 'Students']
staff = staff[columns]
staff.replace(',', '', regex=True, inplace=True)
staff.dropna(axis=0, how='any', inplace=True)
staff = staff.astype(int)
staff['Student/Staff Ratio'] = round(staff['Students'] / staff['Total academic staff (excluding atypical)'], 1)
staff = staff.loc[staff['Total academic staff (excluding atypical)'] > 100]
staff = staff.loc[staff['Students'] > 500]
final_df['Student/Staff Ratio'] = staff['Student/Staff Ratio']
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio
HE provider,,,,,
AA School of Architecture,NaN,NaN,NaN,NaN,NaN
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1
Abertay University,87.9,25000.0,1002.0,2664.0,21.4
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0
ACM Guildford Limited,83.6,NaN,NaN,NaN,NaN

In [11]:
# Outcomes

outcomes_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Outcomes.csv'
detailed_path = '/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/Data/HESA/HESA Outcomes Detailed.csv'
outcomes = pd.read_csv(outcomes_path, index_col='Provider Name')
detailed = pd.read_csv(detailed_path, index_col='Provider Name')

detailed['Total'] = outcomes['Total with known outcomes']

outcomes = detailed[['Total high skilled', 'Total']]
outcomes = outcomes.replace(',', '', regex=True)
outcomes = outcomes.astype(int)
outcomes['% in High Skilled Work'] = round(outcomes['Total high skilled'] / outcomes['Total'] * 100, 1)
outcomes = outcomes.loc[outcomes['Total'] > 50]
final_df['% Graduates in High Skilled Work'] = outcomes['% in High Skilled Work']
final_df.head()

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work
HE provider,,,,,,
AA School of Architecture,NaN,NaN,NaN,NaN,NaN,66.7
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0
ACM Guildford Limited,83.6,NaN,NaN,NaN,NaN,NaN

In [12]:
# Add acceptance rate averaged over 2 years
acceptances = pd.read_csv('Data/UCAS/EOC_acceptances.csv')
applications = pd.read_csv('Data/UCAS/EOC_applications_main.csv')
applications.set_index(['Provider', 'Year'], inplace=True)
acceptances.set_index(['Provider', 'Year'], inplace=True)
applications['Accepted'] = acceptances['Accepted applicants through the main scheme']
applications.dropna(how='any', axis=0, inplace=True)
applications['Percentage Accepted'] = round((applications['Accepted'] / applications['Main scheme applications']) * 100, 2)
applications = applications.loc[applications['Main scheme applications'] >= 100]
applications.reset_index(inplace=True)
applications = applications.pivot_table(index='Provider', columns='Year', values='Percentage Accepted')
applications = applications[[2018, 2019]]
applications['Acceptance Rate'] = applications.mean(axis=1)
applications.reset_index(inplace=True)

for i in range(len(applications['Provider'])):
    applications.loc[i, 'Provider'] = applications.loc[i, 'Provider'][4:]
applications.set_index('Provider', inplace=True)

try:
    from index_conversions import applications_to_hesa
except:
    applications_to_hesa = copy_index(final_df, applications)

applications = pd.DataFrame(applications).rename(index=applications_to_hesa)
final_df['Applications to Acceptance (%)'] = applications['Acceptance Rate']
# for ind in final_df.index:
#     print(ind)

In [13]:
# Add NSS data

try:
    from index_conversions import guardian_to_hesa
except:
    guardian_to_hesa = copy_index(final_df, nss_df)

nss_df = nss_df.rename(index=guardian_to_hesa )
columns = ['% Satisfied with Teaching', '% Satisfied with Course', '% Satisfied with Assessment', 'Subjects']
final_df[columns] = nss_df
final_df.loc['London School of Economics and Political Science']
final_df

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment,Subjects
HE provider,,,,,,,,,,,
AA School of Architecture,NaN,NaN,NaN,NaN,NaN,66.7,NaN,NaN,NaN,NaN,NaN
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7,13.270,88.2,86.9,70.8,"[Medicine and dentistry, Subjects allied to me..."
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5,20.835,92.3,90.0,82.9,"[Subjects allied to medicine, Biological and s..."
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0,19.085,90.0,88.7,81.7,"[Biological and sport sciences, Psychology, Ve..."
ACM Guildford Limited,83.6,NaN,NaN,NaN,NaN,NaN,NaN,73.7,60.3,54.9,"[Design, and creative and performing arts]"
...,...,...,...,...,...,...,...,...,...,...,...
The University of Wolverhampton,88.7,25159.0,1368.0,1676.0,21.1,40.7,18.125,83.8,82.6,74.1,"[Subjects allied to medicine, Biological and s..."
University of Worcester,92.5,24032.0,818.0,2365.0,22.1,46.4,21.560,88.6,86.6,80.2,"[Subjects allied to medicine, Biological and s..."
Writtle University College,90.5,NaN,1177.0,12933.0,NaN,31.0,27.755,91.1,86.1,79.1,"[Biological and sport sciences, Veterinary sci..."
York St John University,92.0,23215.0,1293.0,1147.0,20.6,39.3,18.630,89.2,86.0,81.4,"[Subjects allied to medicine, Biological and s..."
The University of York,96.9,26616.0,1094.0,2999.0,NaN,44.5,14.760,88.9,86.0,71.5,"[Subjects allied to medicine, Biological and s..."

In [14]:
# Remove Unis with more than x nan values and with less than 4 subjects offered and save to a csv file
x = 4
final_df.dropna(thresh=final_df.shape[1]-x, axis=0, inplace=True)
final_df['Subjects'] = final_df['Subjects'].fillna("").apply(list)
final_df.to_csv('league_table.csv')
final_df = final_df.loc[(final_df.Subjects.map(len) > 7)]
final_df.drop(axis=1, columns='Subjects', inplace=True)
final_df[:30]

/Users/ethan/OneDrive - University of Surrey/Coursework/Final Year/FYP/venv/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Continuation %,Average Salary,Academic Services Expenditure per Student,Facilities Expenditure per Student,Student/Staff Ratio,% Graduates in High Skilled Work,Applications to Acceptance (%),% Satisfied with Teaching,% Satisfied with Course,% Satisfied with Assessment
HE provider,,,,,,,,,,
The University of Aberdeen,95.6,28007.0,1507.0,1651.0,13.1,39.7,13.270,88.2,86.9,70.8
Abertay University,87.9,25000.0,1002.0,2664.0,21.4,36.5,20.835,92.3,90.0,82.9
Aberystwyth University,95.9,23466.0,1735.0,1423.0,15.0,29.0,19.085,90.0,88.7,81.7
Anglia Ruskin University,89.7,26387.0,778.0,1594.0,35.9,48.8,15.100,86.8,81.5,74.2
Aston University,96.3,26802.0,1177.0,1598.0,18.2,56.0,14.465,83.3,83.6,69.9
Bangor University,93.5,23318.0,1116.0,1845.0,13.3,31.8,23.530,86.4,86.4,76.4
Bath Spa University,92.7,22584.0,1313.0,1985.0,22.5,36.5,17.725,82.1,79.0,69.3
The University of Bath,98.1,29933.0,1542.0,1906.0,14.3,58.2,12.940,89.6,88.9,67.9
University of Bedfordshire,79.1,24728.0,874.0,1273.0,34.8,42.7,13.535,79.6,73.3,69.9
Queen's University Belfast,95.7,24357.0,1166.0,1934.0,13.0,48.5,14.480,83.7,77.5,64.6
Birkbeck College,89.1,30900.0,905.0,2659.0,19.5,32.1,NaN,84.7,78.5,70.7
Birmingham City University,90.8,24315.0,1187.0,1017.0,NaN,46.1,14.645,85.6,82.0,76.0
The University of Birmingham,97.6,27789.0,2133.0,2039.0,NaN,52.9,11.900,86.0,83.5,64.8
Bishop Grosseteste University,90.5,22818.0,1302.0,3911.0,21.7,47.7,39.020,85.4,85.0,79.9
The University of Bolton,85.3,25159.0,964.0,1172.0,NaN,35.7,20.840,89.6,85.0,81.1
Bournemouth University,91.8,25764.0,1371.0,1401.0,22.4,57.8,19.280,86.2,82.2,74.8
The University of Bradford,92.3,24984.0,1245.0,3238.0,20.4,40.3,15.160,76.5,71.5,66.5
The University of Brighton,91.0,26438.0,1265.0,1616.0,19.1,52.1,13.330,84.3,77.5,68.4
The University of Bristol,97.8,28964.0,1512.0,3288.0,8.9,49.4,11.960,86.8,81.2,65.2
Brunel University London,93.5,27322.0,1099.0,3955.0,16.9,45.7,10.980,77.1,75.1,64.9
Buckinghamshire New University,85.4,26833.0,566.0,1509.0,NaN,51.7,24.720,87.5,86.3,78.5
The University of Buckingham,94.3,NaN,827.0,2167.0,NaN,23.3,11.925,88.6,89.4,73.8
Canterbury Christ Church University,88.8,25130.0,1143.0,2203.0,21.3,51.2,25.240,84.9,78.6,75.1
Cardiff University,96.6,26378.0,1459.0,1802.0,11.4,53.3,16.285,84.1,79.1,68.2
Cardiff Metropolitan University,89.4,23746.0,1458.0,1052.0,20.8,40.8,23.875,86.5,84.0,76.0
The University of Central Lancashire,87.9,24788.0,1505.0,1734.0,17.1,44.5,19.285,83.1,80.8,76.4
University of Chester,90.8,24261.0,1565.0,1561.0,22.6,41.1,14.185,85.9,87.4,77.1
The University of Chichester,92.4,22937.0,905.0,1608.0,NaN,44.1,20.525,88.0,85.7,78.1
"City, University of London",92.3,27333.0,1474.0,2456.0,20.6,45.9,10.945,75.5,70.0,63.7
Coventry University,92.3,25604.0,1525.0,1220.0,16.7,45.0,17.030,87.4,82.9,75.7

In [15]:
# Convert to s-score table

s_score_df = final_df.copy()

for col in final_df.columns:
    x = s_score(final_df,col)
    s_score_df[col] = x

s_score_df['Student/Staff Ratio'] = - s_score_df['Student/Staff Ratio']
nonans = s_score_df.copy()
for ind in s_score_df.index:
    nonans.loc[ind] = s_score_df.loc[ind].fillna(value=s_score_df.loc[ind].mean())

In [16]:
# # Weights

# weights = []

# # Uncomment to have interactive weights settings
# for col in final_df.columns:
#     while True:
#         try:
#             x = float(input(f'Weight for {col} (out of 10): '))
#             if x > 10 or x < 0:
#                 raise Exception
#             weights.append(x)
#             break
#         except ValueError:
#             print('Enter a number between 0 and 10, no letters!')
#         except Exception:
#             print('Enter a number between 0 and 10!')

# weights = [weight / sum(weights) for weight in weights]
# print(weights)

In [18]:
# weighted = nonans.copy()
# for i, col in enumerate(nonans.columns):
#     weighted[col] = nonans[col] * weights[i]

# weighted['Score'] = weighted[list(weighted.columns)].sum(axis=1)
# weighted.sort_values(by='Score', ascending=False, inplace=True)
# weighted['Rank'] = [x for x in range(1, len(weighted)+1)]
# weighted[:30]

In [22]:
final_df['% Satisfied with Teaching'].describe()
final_df['Student/Staff Ratio'].describe()

count    97.000000
mean     18.300000
std       7.029269
min       4.900000
25%      13.100000
50%      18.400000
75%      22.100000
max      47.800000
Name: Student/Staff Ratio, dtype: float64